body {
  margin: 3rem;
}

label.fake-check {
  border: 1px dotted hotpink;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover .fake-check {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:active .fake-check {
    background-color: rgba(0, 0, 0, 0.2);
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    ~ .fake-check {
      background-image: url("../node_modules/@fortawesome/fontawesome-free/svgs/regular/square.svg");
    }
    &:checked ~ .fake-check {
      background-image: url("../node_modules/@fortawesome/fontawesome-free/svgs/solid/check-square.svg") !important;
    }
  }

  .fake-check {
    display: inline-block;
    position: relative;
    content: "";
    width: 1rem;
    height: 1rem;
    margin: 0 0.25rem 0 0.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.125rem;
  }
}
